*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #007bff;
}
a, a:visited {
    color: inherit;
}

.dashboards {
    margin-top: 5%;
    color: white;
    padding: 15px;
    font-size: 18px;
}
